
/**
 *= require qrates_visualizer
 *= require_self
 */

body {
  margin: 0;
  line-height: 1.4em;
  font-family: 'Helvetica Neue';
}

.action-show {
  position: fixed;
  font-size: .7em;
  top: .5em;
  left: 25em;
  cursor: pointer;
}

canvas {
  border: 1px solid red;
  margin-left: 200px;
}

form {
  padding: 1em;
  width: 18em;
  position: fixed;
  left: 1em;
  top: 1em;
  background-color: #aaa;
  height: 85%;
  overflow-x: scroll;
  height: .25em;
  opacity: .3;
  outline: 1px solid #efefef;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-property: height, opacity, background-color;

  &.show {
    background-color: rgba(255, 255, 255, .8);
    opacity: 1;
    height: 85%;
  }

  h1 {
    font-weight: normal;
    font-size: 1em;
  }

  p {
    margin-left: 1em;
  }

  label {
    font-size: .8em;
  }

  input[type=text],
  input[type=number] {
    width: 5em;
  }
}

.stats {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
