img src="" id="tableBanner"
.vinyl-visualizer-container(
  data-assets-model-sleeve-single-no-spine-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine/sleeve_7_single_no_spine.dae')
  data-assets-model-sleeve-single-no-spine-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine/sleeve_10_single_no_spine.dae')
  data-assets-model-sleeve-single-no-spine-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine/sleeve_12_single_no_spine.dae')

  data-assets-model-sleeve-single-no-spine-holed-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine_holed/sleeve_7_single_no_spine_holed.dae')
  data-assets-model-sleeve-single-no-spine-holed-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine_holed/sleeve_10_single_no_spine_holed.dae')
  data-assets-model-sleeve-single-no-spine-holed-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine_holed/sleeve_12_single_no_spine_holed.dae')

  data-assets-model-sleeve-single-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single/sleeve_7_single.dae')
  data-assets-model-sleeve-single-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single/sleeve_10_single.dae')
  data-assets-model-sleeve-single-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single/sleeve_12_single.dae')

  data-assets-model-sleeve-single-holed-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_holed/sleeve_7_single_holed.dae')
  data-assets-model-sleeve-single-holed-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_holed/sleeve_10_single_holed.dae')
  data-assets-model-sleeve-single-holed-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_holed/sleeve_12_single_holed.dae')

  data-assets-model-sleeve-double-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double/sleeve_7_double.dae')
  data-assets-model-sleeve-double-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double/sleeve_10_double.dae')
  data-assets-model-sleeve-double-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double/sleeve_12_double.dae')

  data-assets-model-sleeve-double-holed-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double_holed/sleeve_7_double_holed.dae')
  data-assets-model-sleeve-double-holed-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double_holed/sleeve_10_double_holed.dae')
  data-assets-model-sleeve-double-holed-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double_holed/sleeve_12_double_holed.dae')

  data-assets-model-sleeve-gatefold-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/sleeve_7_gatefold_AxisMove_group.dae')
  data-assets-model-sleeve-gatefold-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/sleeve_10_gatefold_AxisMove_group_re1.dae')
  data-assets-model-sleeve-gatefold-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/sleeve_12_gatefold_AxisMove_group.dae')


  data-assets-texture-sleeve-single-no-spine-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine/7inch_noSpine_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine/7inch_noSpine_sleeve_Bump.png')
  data-assets-texture-sleeve-single-no-spine-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine/7inch_noSpine_sleeve_Color.jpg')

  data-assets-texture-sleeve-single-no-spine-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine/10inch_noSpine_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine/10inch_noSpine_sleeve_Bump.png')
  data-assets-texture-sleeve-single-no-spine-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine/10inch_noSpine_sleeve_Color.jpg')

  data-assets-texture-sleeve-single-no-spine-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine/noSpine_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine/noSpine_sleeve_Bump.png')
  data-assets-texture-sleeve-single-no-spine-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine/noSpine_sleeve_Color.jpg')


  data-assets-texture-sleeve-single-no-spine-holed-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine_holed/7inch_noSpine_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-holed-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine_holed/7inch_noSpine_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-single-no-spine-holed-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_no_spine_holed/7inch_noSpine_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-single-no-spine-holed-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine_holed/10inch_noSpine_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-holed-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine_holed/10inch_noSpine_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-single-no-spine-holed-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_no_spine_holed/10inch_noSpine_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-single-no-spine-holed-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine_holed/noSpine_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-no-spine-holed-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine_holed/noSpine_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-single-no-spine-holed-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_no_spine_holed/noSpine_sleeve_hole_Color.jpg')
  

  data-assets-texture-sleeve-single-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single/7inch_3mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single/7inch_3mm_sleeve_Bump.png')
  data-assets-texture-sleeve-single-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single/7inch_3mm_sleeve_Color.jpg')

  data-assets-texture-sleeve-single-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single/10inch_3mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single/10inch_3mm_sleeve_Bump.png')
  data-assets-texture-sleeve-single-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single/10inch_3mm_sleeve_Color.jpg')

  data-assets-texture-sleeve-single-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single/12inch_3mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single/12inch_3mm_sleeve_Bump.jpg')
  data-assets-texture-sleeve-single-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single/12inch_3mm_sleeve_Color.jpg')


  data-assets-texture-sleeve-single-holed-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_holed/7inch_3mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-holed-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_holed/7inch_3mm_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-single-holed-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_single_holed/7inch_3mm_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-single-holed-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_holed/10inch_3mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-holed-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_holed/10inch_3mm_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-single-holed-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_single_holed/10inch_3mm_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-single-holed-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_holed/12inch_3mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-single-holed-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_holed/12inch_3mm_sleeve_hole_Bump.jpg')
  data-assets-texture-sleeve-single-holed-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_single_holed/12inch_3mm_sleeve_hole_Color.jpg')


  data-assets-texture-sleeve-double-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double/7inch_5mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double/7inch_5mm_sleeve_Bump.png')
  data-assets-texture-sleeve-double-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double/7inch_5mm_sleeve_Color.jpg')

  data-assets-texture-sleeve-double-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double/10inch_5mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double/10inch_5mm_sleeve_Bump.png')
  data-assets-texture-sleeve-double-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double/10inch_5mm_sleeve_Color.jpg')

  data-assets-texture-sleeve-double-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double/5mm_sleeve_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double/5mm_sleeve_Bump.png')
  data-assets-texture-sleeve-double-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double/5mm_sleeve_Color.jpg')


  data-assets-texture-sleeve-double-holed-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double_holed/7inch_5mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-holed-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double_holed/7inch_5mm_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-double-holed-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_double_holed/7inch_5mm_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-double-holed-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double_holed/10inch_5mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-holed-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double_holed/10inch_5mm_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-double-holed-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_double_holed/10inch_5mm_sleeve_hole_Color.jpg')

  data-assets-texture-sleeve-double-holed-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double_holed/5mm_sleeve_hole_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-double-holed-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double_holed/5mm_sleeve_hole_Bump.png')
  data-assets-texture-sleeve-double-holed-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_double_holed/5mm_sleeve_hole_Color.jpg')
  

  data-assets-texture-sleeve-gatefold-back-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_back_7_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-back-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_back_7_Bump.png')
  data-assets-texture-sleeve-gatefold-back-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_back_7_Color.jpg')
  data-assets-texture-sleeve-gatefold-front-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_front_7_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-front-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_front_7_Bump.png')
  data-assets-texture-sleeve-gatefold-front-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_front_7_Color.jpg')
  data-assets-texture-sleeve-gatefold-spine-ao-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_spine_7_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-spine-bumpmap-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_spine_7_Bump.png')
  data-assets-texture-sleeve-gatefold-spine-color-7=asset_path('qrates_visualizer/sleeves/sleeve_7_gatefold/gatefold_sleeve_spine_7_Color.jpg')

  data-assets-texture-sleeve-gatefold-back-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_back_10_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-back-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_back_10_Bump.jpg')
  data-assets-texture-sleeve-gatefold-back-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_back_10_Color.jpg')
  data-assets-texture-sleeve-gatefold-front-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_front_10_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-front-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_front_10_Bump.jpg')
  data-assets-texture-sleeve-gatefold-front-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_front_10_Color.jpg')
  data-assets-texture-sleeve-gatefold-spine-ao-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_spine_10_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-spine-bumpmap-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_spine_10_Bump.jpg')
  data-assets-texture-sleeve-gatefold-spine-color-10=asset_path('qrates_visualizer/sleeves/sleeve_10_gatefold/gatefold_sleeve_spine_10_Color.jpg')

  data-assets-texture-sleeve-gatefold-back-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_back_12_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-back-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_back_12_Bump.png')
  data-assets-texture-sleeve-gatefold-back-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_back_12_Color.jpg')
  data-assets-texture-sleeve-gatefold-front-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_front_12_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-front-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_front_12_Bump.png')
  data-assets-texture-sleeve-gatefold-front-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_front_12_Color.jpg')
  data-assets-texture-sleeve-gatefold-spine-ao-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_spine_12_C_Amibient_Occlusion.jpg')
  data-assets-texture-sleeve-gatefold-spine-bumpmap-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_spine_12_C_Bump.png')
  data-assets-texture-sleeve-gatefold-spine-color-12=asset_path('qrates_visualizer/sleeves/sleeve_12_gatefold/gatefold_sleeve_spine_12_C_Color.jpg')


  data-assets-model-vinyl-small-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small/vinyl_7_small.dae')
  data-assets-model-vinyl-small-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy/vinyl_7_small_heavy.dae')
  data-assets-model-vinyl-small-hole-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/vinyl_7_small_with_labels.dae')
  data-assets-model-vinyl-small-hole-heavy-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/vinyl_7_small_heavy_with_labels.dae')

  data-assets-model-vinyl-large-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large/vinyl_7_large.dae')
  data-assets-model-vinyl-large-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy/vinyl_7_large_heavy.dae')
  data-assets-model-vinyl-large-hole-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/vinyl_7_large_with_labels.dae')
  data-assets-model-vinyl-large-hole-heavy-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/vinyl_7_large_heavy_with_labels.dae')

  data-assets-model-vinyl-10=asset_path('qrates_visualizer/vinyls/vinyl_10/vinyl_10.dae')
  data-assets-model-vinyl-heavy-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy/vinyl_10_heavy.dae')
  data-assets-model-vinyl-with-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/vinyl_10_with_labels.dae')
  data-assets-model-vinyl-heavy-with-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/vinyl_10_heavy_with_labels.dae')

  data-assets-model-vinyl-12=asset_path('qrates_visualizer/vinyls/vinyl_12/vinyl_12.dae')
  data-assets-model-vinyl-heavy-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy/vinyl_12_heavy.dae')
  data-assets-model-vinyl-with-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/vinyl_12_with_labels.dae')
  data-assets-model-vinyl-heavy-with-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/vinyl_12_heavy_with_labels.dae')


  data-assets-texture-vinyl-alpha-small-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small/7inch_VINYL_normal_small_picture_Alpha.jpg')
  data-assets-texture-vinyl-ao-small-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small/7inch_VINYL_normal_small_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small/7inch_VINYL_normal_small_picture_Bump.png')
  data-assets-texture-vinyl-color-small-hole-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small/7inch_VINYL_normal_small_picture_Color.jpg')

  data-assets-texture-vinyl-alpha-small-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy/7inch_VINYL_heavy_small_picture_Alpha.jpg')
  data-assets-texture-vinyl-ao-small-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy/7inch_VINYL_heavy_small_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy/7inch_VINYL_heavy_small_picture_Bump.png')
  data-assets-texture-vinyl-color-small-hole-heavy-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy/7inch_VINYL_heavy_small_picture_Color.jpg')

  data-assets-texture-vinyl-ao-small-hole-heavy-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_VINYL_heavy_small_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-heavy-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_VINYL_heavy_small_picture_Bump.png')
  data-assets-texture-vinyl-color-small-hole-heavy-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_VINYL_heavy_Color.jpg')

  data-assets-texture-vinyl-ao-small-hole-heavy-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_VINYL_heavy_small_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-heavy-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_LABEL_heavy_small_AB_Bump.jpg')
  data-assets-texture-vinyl-color-small-hole-heavy-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_heavy_with_labels/7inch_LABEL_heavy_small_AB_Color.jpg')

  data-assets-texture-vinyl-ao-small-hole-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_VINYL_normal_small_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_VINYL_normal_small_Bump.png')
  data-assets-texture-vinyl-color-small-hole-with-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_VINYL_normal_small_Color.jpg')

  data-assets-texture-vinyl-ao-small-hole-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_LABEL_normal_small_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-small-hole-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_LABEL_normal_small_AB_Bump.jpg')
  data-assets-texture-vinyl-color-small-hole-with-label-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_small_with_labels/7inch_LABEL_normal_small_AB_Color.jpg')


  data-assets-texture-vinyl-large-hole-alpha-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large/7inch_VINYL_normal_large_picture_Alpha.jpg')
  data-assets-texture-vinyl-large-hole-ao-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large/7inch_VINYL_normal_large_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-bumpmap-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large/7inch_VINYL_normal_large_picture_Bump.png')
  data-assets-texture-vinyl-large-hole-color-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large/7inch_VINYL_normal_large_picture_Color.jpg')

  data-assets-texture-vinyl-large-hole-heavy-alpha-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy/7inch_VINYL_heavy_large_picture_Alpha.jpg')
  data-assets-texture-vinyl-large-hole-heavy-ao-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy/7inch_VINYL_heavy_large_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-heavy-bumpmap-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy/7inch_VINYL_heavy_large_picture_Bump.png')
  data-assets-texture-vinyl-large-hole-heavy-color-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy/7inch_VINYL_heavy_large_picture_Color.jpg')

  data-assets-texture-vinyl-large-hole-with-label-ao-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_VINYL_normal_large_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-with-label-bumpmap-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_VINYL_normal_large_picture_Bump.png')
  data-assets-texture-vinyl-large-hole-with-label-color-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_VINYL_normal_large_Color.jpg')

  data-assets-texture-vinyl-large-hole-with-label-ao-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_LABEL_normal_large_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-with-label-bumpmap-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_LABEL_normal_large_AB_Bump.jpg')
  data-assets-texture-vinyl-large-hole-with-label-color-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_with_labels/7inch_LABEL_normal_large_AB_Color.jpg')

  data-assets-texture-vinyl-large-hole-heavy-with-label-ao-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_VINYL_heavy_large_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-heavy-with-label-bumpmap-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_VINYL_heavy_large_picture_Bump.png')
  data-assets-texture-vinyl-large-hole-heavy-with-label-color-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_VINYL_heavy_large_Color.jpg')

  data-assets-texture-vinyl-large-hole-heavy-with-label-ao-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_LABEL_heavy_large_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-large-hole-heavy-with-label-bumpmap-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_LABEL_heavy_large_AB_Bump.jpg')
  data-assets-texture-vinyl-large-hole-heavy-with-label-color-for-label-7=asset_path('qrates_visualizer/vinyls/vinyl_7_large_heavy_with_labels/7inch_LABEL_heavy_large_AB_Color.jpg')


  data-assets-texture-vinyl-alpha-10=asset_path('qrates_visualizer/vinyls/vinyl_10/10inch_VINYL_normal_picture_Alpha.jpg')
  data-assets-texture-vinyl-ao-10=asset_path('qrates_visualizer/vinyls/vinyl_10/10inch_VINYL_normal_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-10=asset_path('qrates_visualizer/vinyls/vinyl_10/10inch_VINYL_normal_picture_Bump.png')
  data-assets-texture-vinyl-color-10=asset_path('qrates_visualizer/vinyls/vinyl_10/10inch_VINYL_normal_picture_Color.jpg')

  data-assets-texture-vinyl-heavy-alpha-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy/10inch_VINYL_heavy_picture_Alpha.jpg')
  data-assets-texture-vinyl-heavy-ao-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy/10inch_VINYL_heavy_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-bumpmap-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy/10inch_VINYL_heavy_picture_Bump.png')
  data-assets-texture-vinyl-heavy-color-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy/10inch_VINYL_heavy_picture_Color.jpg')

  data-assets-texture-vinyl-with-label-ao-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_VINYL_normal_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-with-label-bumpmap-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_VINYL_normal_Bump.png')
  data-assets-texture-vinyl-with-label-color-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_VINYL_normal_Color.jpg')

  data-assets-texture-vinyl-with-label-ao-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_LABEL_normal_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-with-label-bumpmap-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_LABEL_normal_AB_Bump.jpg')
  data-assets-texture-vinyl-with-label-color-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_with_labels/10inch_LABEL_normal_AB_Color.jpg')

  data-assets-texture-vinyl-heavy-with-label-ao-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_VINYL_heavy_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-with-label-bumpmap-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_VINYL_heavy_Bump.png')
  data-assets-texture-vinyl-heavy-with-label-color-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_VINYL_heavy_Color.jpg')

  data-assets-texture-vinyl-heavy-with-label-ao-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_LABEL_heavy_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-with-label-bumpmap-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_LABEL_heavy_AB_Bump.jpg')
  data-assets-texture-vinyl-heavy-with-label-color-for-label-10=asset_path('qrates_visualizer/vinyls/vinyl_10_heavy_with_labels/10inch_LABEL_heavy_AB_Color.jpg')


  data-assets-texture-vinyl-alpha-12=asset_path('qrates_visualizer/vinyls/vinyl_12/12inch_VINYL_normal_picture_Alpha.jpg')
  data-assets-texture-vinyl-ao-12=asset_path('qrates_visualizer/vinyls/vinyl_12/12inch_VINYL_normal_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-bumpmap-12=asset_path('qrates_visualizer/vinyls/vinyl_12/12inch_VINYL_normal_picture_Bump.png')
  data-assets-texture-vinyl-color-12=asset_path('qrates_visualizer/vinyls/vinyl_12/12inch_VINYL_normal_picture_Color.jpg')

  data-assets-texture-vinyl-heavy-alpha-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy/12inch_VINYL_heavy_picture_Alpha.jpg')
  data-assets-texture-vinyl-heavy-ao-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy/12inch_VINYL_heavy_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-bumpmap-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy/12inch_VINYL_heavy_picture_Bump.png')
  data-assets-texture-vinyl-heavy-color-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy/12inch_VINYL_heavy_picture_Color.jpg')

  data-assets-texture-vinyl-with-label-ao-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_VINYL_normal_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-with-label-bumpmap-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_VINYL_4096_Bump_gray.png')
  data-assets-texture-vinyl-with-label-color-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_VINYL_normal_Color.jpg')

  data-assets-texture-vinyl-with-label-ao-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_LABEL_normal_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-with-label-bumpmap-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_LABEL_normal_AB_Bump.jpg')
  data-assets-texture-vinyl-with-label-color-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_with_labels/12inch_LABEL_normal_AB_Color.jpg')

  data-assets-texture-vinyl-heavy-with-label-ao-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_VINYL_heavy_picture_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-with-label-bumpmap-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_VINYL_heavy_picture_Bump.png')
  data-assets-texture-vinyl-heavy-with-label-color-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_VINYL_heavy_Color.jpg')

  data-assets-texture-vinyl-heavy-with-label-ao-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_LABEL_heavy_AB_Amibient_Occlusion.jpg')
  data-assets-texture-vinyl-heavy-with-label-bumpmap-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_LABEL_heavy_AB_Bump.jpg')
  data-assets-texture-vinyl-heavy-with-label-color-for-label-12=asset_path('qrates_visualizer/vinyls/vinyl_12_heavy_with_labels/12inch_LABEL_heavy_AB_Color.jpg')

  data-assets-texture-vinyl-envmap=asset_path('qrates_visualizer/vinyls/envmap.jpg')
)

form.show

  p.action-show toggle
  h2 Capture types
  p
    select number="" v-model="visualizer.capture"
      option disabled="" ▾ view (edit page angle)
      option value="21" 21 vinyl fly out right down
      option value="22" 22 vinyl fly out right up
      option value="23" 23 vinyl fly out right
      option value="24" 24 23 flip version
      option value="25" 25 vinyl put in sleeve
      option value="26" 26 25 flip version
      option value="27" 27 zoom to label
      option value="28" 28 27 flip version

  h1 Visualizer options
  p
    select number="" v-model="visualizer.view"
      option disabled="" ▾ view
      option value="0" default
      option value="1" item detail rotation 1
      option value="2" item detail rotation 2
      option value="3" item detail rotation 3
      option value="4" item detail rotation 4
      option value="5" item detail rotation 5
      option value="6" item detail rotation 6
      option value="7" item detail rotation 7
      option value="8" item detail rotation 8
      option value="9" item detail rotation 9
      option value="10" vinyl Side A
      option value="11" label Side A
      option value="12" label Side B
      option value="13" sleeve Front
      option value="14" sleeve Back
    | &nbsp;
    input type="number" number="" v-model="visualizer.transition" placeholder="transition"

  p
    input type="number" number="" v-model="visualizer.width" placeholder="width"
    |  x&nbsp;
    input type="number" number="" v-model="visualizer.height" placeholder="height"

  h1 Vinyl options

  p
    label Size: 
    select number="" v-model="vinyl.size"
      option value="7S" 7 (small hole)″
      option value="7L" 7 (large hole)″
      option value="10" 10″
      option value="12" 12″

  p
    label Color Format 1: 
    select number="" v-model="vinyl.colorFormat1"
      option value="color" Color
      option value="texture" Texture

  p
    label Color Format 2: 
    select number="" v-model="vinyl.colorFormat2"
      option value="color" Color
      option value="texture" Texture

  p
    label Color: 
    select number="" v-model="vinyl.colors"
      option value="0" black
      option value="1" #1 white
      option value="2" #2 yellow
      option value="3" #3 red
      option value="4" #4 orange
      option value="5" #5 blue
      option value="6" #6 brown
      option value="7" #7 green
      option value="8" #8 gray
      option value="9" #9 transparent green
      option value="10" #10 transparent yellow
      option value="11" #11 transparent red
      option value="12" #12 transparent violet
      option value="13" #13 transparent blue
      option value="14" #14 transparent
      option value="15" P1 SWAMP GREEN
      option value="16" P2 SEA BLUE
      option value="17" P3 BONE
      option value="18" P4 BRONZE
      option value="19" P5 BEER
      option value="20" P6 ELECTRIC BLUE
      option value="21" P7 GRIMACE PURPLE
      option value="22" P8 OXBLOOD
      option value="23" P9 COKE BOTTLE GREEN
      option value="24" P10 ORANGE CRUSH
      option value="25" P11 HOT PINK / MAGENTA
      option value="26" P12 BABY PINK
      option value="27" P13 OLIVE GREEN
      option value="28" P14 AQUA BLUE
      option value="29" P15 ULTRA CLEAR
      option value="30" P16 BABY BLUE
      option value="31" P17 HIGHLIGHTER YELLOW
      option value="32" P18 GOLD
      option value="33" P19 SILVER
      option value="34" P20 MUSTARD

  p: label: input type="checkbox" v-model="vinyl.heavy1" Heavy (First Vinyl)
  p: label: input type="checkbox" v-model="vinyl.heavy2" Heavy (Second Vinyl)

  p
    label Label 1: 
    select number="" v-model="vinyl.labelType1"
      option value="none" None
      option value="texture" Texture

  p
    label Label 2: 
    select number="" v-model="vinyl.labelType2"
      option value="none" None
      option value="texture" Texture

  p
    label RPM: 
    select number="" v-model="vinyl.speed"
      option value="33" 33rpm
      option value="45" 45rpm

  p
    label Alpha Map 1
    input type="file" name="vinyl-alpha1"

  p
    label AO Map 1
    input type="file" name="vinyl-ao1"

  p
    label Bump Map 1
    input type="file" name="vinyl-bump1"

  p
    label Color Map 1 (Picture)
    input type="file" name="vinyl-color1"

  p
    label Alpha Map 2
    input type="file" name="vinyl-alpha2"

  p
    label AO Map 2
    input type="file" name="vinyl-ao2"

  p
    label Bump Map 2
    input type="file" name="vinyl-bump2"

  p
    label Color Map 2 (Picture)
    input type="file" name="vinyl-color2"

  h1 Label options

  p 
    label AO Map 1
    input type="file" name="label-ao1"

  p 
    label Bump Map 1
    input type="file" name="label-bump1"

  p 
    label Color Map 1
    input type="file" name="label-color1"

  p 
    label AO Map 2
    input type="file" name="label-ao2"

  p 
    label Bump Map 2
    input type="file" name="label-bump2"

  p 
    label Color Map 2
    input type="file" name="label-color2"

  h1 Sleeve options

  p
    label Type: 
    select number="" v-model="sleeve.type"
      option value="no-spine" Single (without spine)
      option value="single" Single (3mm spine)
      option value="double" Double (5mm spine)
      option value="gatefold" Gatefold

  p
    label Finish: 
    select number="" v-model="sleeve.finish"
      option value="normal" Normal Lamination
      option value="gloss" Gloss Lamination

  p: label: input type="checkbox" v-model="sleeve.hole" Hole

  p
    label AO Map
    input type="file" name="sleeve-ao"

  p
    label Bump Map 
    input type="file" name="sleeve-bump"

  p
    label Color Map
    input type="file" name="sleeve-color"
